#chart1 {
  width: 960px;
  height: 500px;
  border: solid 1px #ccc;
}

text {
  font: 10px sans-serif;
}

.background {
  fill: #fff;
  pointer-events: all;
}

#chart1 .node {
  stroke: #fff;
  stroke-width: .6 px;
}

#chart1 .node .text {
  stroke: #000;
}


#chart1 .link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1.5px;
}

#chart2, #chart3 {
  width: 960px;
  height: 180px;
  border: solid 1px #ccc;
}

#chart2 path, #chart3 line {
  fill: none;
  stroke: #333;
}

#chart3 line {
  shape-rendering: crispEdges;
}

#chart4 {
  margin-left: -40px;
  height: 506px;
}

#chart4 .background {
  fill: #ddd;
}

#chart4 .dot {
  stroke: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}
